Repository Sosylka19/rec_sys: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:db, deploy:ml, deploy:krakend, deploy:nginx

deploy:db:
  stage: deploy
  tags:
  - shell
  script:
  - cd db_service
  - echo "Deploying db_app to remote server."
  - docker compose up -d --build

deploy:ml:
  stage: deploy
  tags:
  - shell
  script:
  - cd ml_service
  - echo "Deploying ml_app to remote server."
  - docker compose up -d --build

deploy:krakend:
  stage: deploy
  tags:
  - shell
  script:
  - cd krakend
  - echo "Deploying krakenb_app to remote server."
  - docker compose up -d --build

deploy:nginx:
  stage: deploy
  tags:
  - shell
  script:
  - cd nginx
  - echo "Deploying nginx_app to remote server."
  - docker compose up -d --build

upd: add ml_request logic
  db_service/src/main.py
  ml_service/src/main.py
  ml_service/src/recommender/recommender.py
  tg_client/handlers/ml_request.py
  tg_client/handlers/start.py
Due: deploy:db, deploy:ml

fix: fix error ml service request:
  db_service/src/main.py
  krakend/krakend.json
  ml_service/src/eda+baseline/notebook.ipynb
  ml_service/src/main.py
  ml_service/src/recommender/recommender.py
  tg_client/handlers/ml_request.py
  tg_client/handlers/start.py
Due: deploy:db, deploy:ml, deploy:krakend

upd: ml baseline
  .gitignore
  ml_service/src/eda+baseline/notebook.ipynb
  ml_service/src/eda+baseline/rec_films.ipynb
  requirements.txt
Due: deploy:ml

upd: eda+baseline & ml kernel
  .gitignore
  ml_service/src/eda+baseline/eda+baseline.ipynb
  ml_service/src/eda+baseline/rec_films.ipynb
  ml_service/src/eda+baseline/rec_sys.ipynb
  ml_service/src/ml_kernel.py
  ml_service/src/recommender/recommender.py
Due: deploy:ml

upd: add films photo output
  .gitignore
  db_service/src/main.py
  ml_service/requirements.txt
  ml_service/src/ml_kernel.py
  tg_client/handlers/form.py
  tg_client/handlers/ml_request.py
  tg_client/handlers/start.py
Due: deploy:db, deploy:ml

upd: pack tg_client to the container
  .gitignore
  db_service/src/main.py
  tg_client/.env
  tg_client/Dockerfile
  tg_client/docker-compose.yaml
  tg_client/requirements.txt
  tg_client/run.py
  tg_client/src/create_bot.py
  tg_client/src/form.py
  tg_client/src/handlers/ml_request.py
  tg_client/src/handlers/start.py
  tg_client/src/keyboard/buttons.py
  tg_client/src/main.py
Due: deploy:db

upd: add Makefile
  Makefile
Due: none

fix: .gitlab-ci.yml
  .gitlab-ci.yml
  README.md
Due: none

upd: add .gitattributes
  .gitattributes
Due: none

fix: renew features
  README.md
  ml_service/requirements.txt
  ml_service/src/ml_kernel.py
  requirements.txt
  tg_client/requirements.txt
  tg_client/src/create_bot.py
  tg_client/src/handlers/start.py
  tg_client/src/keyboard/buttons.py
Due: deploy:ml

upd: example
  README.md
  Screenshot 2025-09-04 at 18.26.15.png
Due: none

fix: readme
  README.md
Due: none

Path conditions:
  deploy:db: any of: db_service/**/*
  deploy:ml: any of: ml_service/**/*
  deploy:krakend: any of: krakend/**/*
  deploy:nginx: any of: nginx/**/*
