Repository Sosylka19/rec_sys: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:db, deploy:ml

.gitlab-ci.yml:

stages:
  - test
  - deploy

test:runner:
  stage: test
  tags:
    - shell
  script:
    - echo "Runner is working!"
    - pwd
    - ls -la

deploy:db:
  stage: deploy
  tags:
    - shell
  script:
    - cd db_service
    - echo "Deploying app to remote server."
    - docker compose up -d --build
  rules:
    - changes:
      - db_service/**/*

deploy:ml:
  stage: deploy
  tags:
    - shell
  script:
    - cd ml_service
    - echo "Deploying app to remote server."
    - docker compose up -d --build
  rules:
    - changes:
      - ml_service/**/*

upd: add krakend gateway
  .gitignore
  krakend/Dockerfile
  krakend/config/kraken.json
  krakend/docker-compose.yml
Due: none

upd: fix krakend service
  .gitlab-ci.yml
Due: none

upd: nothing upd check ci
  db_service/txt.txt
  krakend/txt.txt
  ml_service/txt.txt
Due: deploy:db, deploy:ml

upd: nothing upd check ci
  krakend/Dockerfile
Due: none

upd: nothing upd check ci
  krakend/Dockerfile
  krakend/kraken.json
Due: none

upd: nothing upd check ci
  krakend/docker-compose.yml
Due: none

upd: nothing upd check ci
  krakend/krakend.json
Due: none

trash
  db_service/src/main.py
  ml_service/src/main.py
Due: deploy:db, deploy:ml

nth
  ml_service/src/main.py
Due: deploy:ml

bla
  krakend/krakend.json
  ml_service/src/main.py
Due: deploy:ml

blll
  db_service/docker-compose.yaml
  krakend/docker-compose.yml
  krakend/krakend.json
  ml_service/docker-compose.yml
Due: deploy:db, deploy:ml

blll
  db_service/docker-compose.yaml
  krakend/docker-compose.yml
  ml_service/docker-compose.yml
Due: deploy:db, deploy:ml

b
  krakend/krakend.json
Due: none

bb
  db_service/docker-compose.yaml
  ml_service/docker-compose.yml
  nginx/Dockerfile
  nginx/docker-compose.yml
  nginx/src/nginx.conf
Due: deploy:db, deploy:ml

bbb
  .gitlab-ci.yml
Due: none

b1
  db_service/txt.txt
  krakend/txt.txt
  ml_service/txt.txt
  nginx/txt.txt
Due: deploy:db, deploy:ml

heh
  .gitlab-ci.yml
  db_service/bbb.txt
  krakend/bbb.txt
  ml_service/b.txt
  nginx/tx.txt
  nginx/txt.txt
Due: deploy:db, deploy:ml

bn
  nginx/Dockerfile
Due: none

bbbbb
  nginx/docker-compose.yml
  nginx/src/nginx.conf
Due: none

bbbbb
  nginx/src/nginx.conf
Due: none

bbbbb
  .gitlab-ci.yml
  nginx/src/nginx.conf
Due: none

upd: add executing files db_service
  db_service/bbb.txt
  db_service/requirements.txt
  db_service/src/.env
  db_service/src/app/db.py
  db_service/src/app/models.py
  db_service/src/main.py
  krakend/bbb.txt
  ml_service/b.txt
  nginx/tx.txt
Due: deploy:db, deploy:ml

upd: add new endpoint db_service
  db_service/src/app/models.py
  db_service/src/db.py
  db_service/src/main.py
  db_service/src/models.py
  db_service/src/schemas.py
  krakend/krakend.json
  ml_service/src/main.py
  nginx/src/nginx.conf
  tg_client/.env
Due: deploy:db, deploy:ml

trash commit
  db_service/t.txt
  krakend/t.txt
  ml_service/t.txt
  nginx/t.txt
Due: deploy:db, deploy:ml

trsh
  db_service/requirements.txt
  ml_service/requirements.txt
Due: deploy:db, deploy:ml

bbgbgb
  db_service/requirements.txt
Due: deploy:db

tr
  db_service/requirements.txt
  db_service/t.txt
  krakend/t.txt
  ml_service/requirements.txt
  ml_service/t.txt
  nginx/t.txt
Due: deploy:db, deploy:ml

fix: db_service postgre connection
  .gitignore
  db_service/docker-compose.yaml
  db_service/src/.env
  db_service/src/dataset/init.sql
  db_service/src/db.py
  db_service/src/main.py
  db_service/src/models.py
  ml_service/requirements.txt
  requirements.txt
Due: deploy:db, deploy:ml

just fix ci
  .gitlab-ci.yml
  db_service/t.txt
  krakend/t.txt
  ml_service/t.txt
  nginx/t.txt
Due: deploy:db, deploy:ml

fix ci
  .gitlab-ci.yml
  db_service/t.txt
  krakend/t.txt
  ml_service/t.txt
  nginx/t.txt
Due: deploy:db, deploy:ml

bimbo ci
  .gitlab-ci.yml
  db_service/t.txt
  krakend/t.txt
  ml_service/t.txt
  nginx/t.txt
Due: deploy:db, deploy:ml

bu
  .gitlab-ci.yml
  db_service/t.txt
  krakend/t.txt
  ml_service/t.txt
  nginx/t.txt
Due: deploy:db, deploy:ml

buu
  .gitignore
  db_service/.env
  krakend/t.txt
  ml_service/t.txt
  nginx/t.txt
Due: deploy:db, deploy:ml

bubub
  .gitlab-ci.yml
  db_service/t.txt
  krakend/t.txt
  ml_service/t.txt
  nginx/t.txt
Due: deploy:db, deploy:ml

upd: add pre-commit config && fix issues
  .gitignore
  .pre-commit-config.yaml
  db_service/src/main.py
  ml_service/src/main.py
  requirements.txt
  tg_client/aiogram_run.py
  tg_client/create_bot.py
  tg_client/handlers/start.py
Due: deploy:db, deploy:ml

fix: add error handling
  db_service/src/dataset/init.sql
  db_service/src/main.py
  db_service/src/models.py
  db_service/src/schemas.py
  tg_client/handlers/__pycache__/start.cpython-313.pyc
  tg_client/handlers/start.py
Due: deploy:db

upd: add reply buttons:
  .gitignore
  db_service/src/main.py
  db_service/src/schemas.py
  db_service/t.txt
  tg_client/handlers/start.py
  tg_client/keyboard/buttons.py
Due: deploy:db

fix commit
  tg_client/t.txt
Due: none

upd: add ml service logic
  ml_service/src/main.py
  ml_service/src/recommender/__init__.py
  ml_service/src/recommender/recommender.py
  tg_client/handlers/ml_request.py
Due: deploy:ml
